# node js modules
data/node_modules/*

# free web server for development evironment
mongoose-free*.exe

# old or files used to create project files
*Old*
data/package.json
data/sheetWork.js
makePathwayCompund.js

data/*Test*
